TAGO_Presentacion/Service References/ClienteService/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50963/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" />
  <xs:element name="RegistrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="cliente" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="RegistrarClienteResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="ModificarClienteResult" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarClientexEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarClientexEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="ConsultarClientexEmailResult" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="tarjeta" nillable="true" type="q6:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="RegistrarTarjetaResult" nillable="true" type="q7:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="tarjeta" nillable="true" type="q8:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="ModificarTarjetaResult" nillable="true" type="q9:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarTarjetaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTarjetaxCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTarjetaxClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="ListarTarjetaxClienteResult" nillable="true" type="q10:ArrayOfTarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>