TAGO_Pruebas/Service References/ReservaService/ReservaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRecojoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistroReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoReserva" type="xs:int" />
      <xs:element minOccurs="0" name="IdReserva" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
</xs:schema>