TAGO_Presentacion/Service References/VISANETService/ServiceVISANET1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registrarPagoVISANET">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vencimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoVerificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ImporteOperacion" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarPagoVISANETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarPagoVISANETResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>