TAGO_Presentacion/Service References/VISANETService/ServiceVISANET2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TAGO_VISANET.Domino" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TAGO_VISANET.Domino" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoVerificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteSaldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vencimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarjeta" nillable="true" type="tns:Tarjeta" />
</xs:schema>