TAGO_Presentacion/Service References/ReservaService/ReservaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50963/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" />
  <xs:element name="RegistrarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="entidad" nillable="true" type="q1:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="RegistrarReservaResult" nillable="true" type="q2:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="entidad" nillable="true" type="q3:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TAGO_Servicios.Dominio" minOccurs="0" name="CancelarReservaResult" nillable="true" type="q4:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>